<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/main_about.css">
  <link rel="stylesheet" href="../styles/infor_history.css">
  <link rel="stylesheet" href="themify-icons-font/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div>

    <div class="containerr">
      <div class="grid-containerr">
        <div class="header1">
          <div class="nav1">
            <a href="../index.html">Home</a>
            <a href="AboutUs.html">About us</a>
            <a href="Contact.html">Contact</a>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="Category.html">Category<span
                  class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="CategoryLearn.html">Learn</a></li>
                <li><a href="CategoryGallery.html">Gallery</a></li>
              </ul>
            </li>
          </div>
        </div>

        <div class="logo">
          <div class="img_logo">
            <img width="100%" src="../images/logo.jpg" title="Logo">
          </div>
        </div>

        <div class="header2">
          <div class="nav2">
            <div class="container_search">
              <div class="form_search">
                <form class="css_form" action="">
                  <input class="search" type="search" placeholder="Search...">
                </form>
              </div>
            </div>

            <div class="button_signup">
              <button class="css_up">Sign up</button>
            </div>
            <div class="button_signin">
              <button class="css_in">Sign in</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="containerr_main">
      <div class="title_img">
        <div class="img-title">
          <img width="100%" src="../images/history.jpg" title="History">
        </div>
        <div class="text-title">
          <p class="p2">History Of Calligraphy</p>
        </div>
      </div>
      <div>

      </div>
    </div>

    <div class="containerr_infor_history">
      <div class="white">
        <div class="float">
          <p class="pp">
            We've heard from many people that calligraphy is a lost art. Maybe it's because we're immersed in the art or
            maybe it's because it truly is everywhere, but we think calligraphy is just as popular now as it ever was!
            Maybe even more so, when you consider the different variations of calligraphy that are available.
            <br><br>
            Walk into any hobby or craft store and you'll see signs and home decor with hand lettering and modern
            calligraphy. And with technology, you can even learn to letter on your iPad.
            <br><br>
            We first learned calligraphy at age 11 because of our love of handwriting and cursive, but we started with
            more traditional lettering and old-school rules. And while we teach our students the rules, we also teach
            them
            how to break them. That's probably the most fun part of learning calligraphy!
            <br><br>
            Here's a look back at calligraphy through the ages and when newer styles came to be. Knowing the history of
            calligraphy just might help you decide what type of lettering you want to learn first (or next).
          </p>
        </div>
      </div>
      <div style="background-color: #f6f6f6; width: 100%;">
        <div class="black">
          <div class="containerr_infor">
            <div class="item_text">
              <p class="p">Origins of Calligraphy</p>
              <p class="p3">
                Calligraphy literally means to write with beauty, based on the Greek origin of the word. It requires a
                handle on correct form and the skill to maintain proportions as it's composed.
                <br>
                Many languages are based in script and illustrations, like Arabic, Asian languages, and Hebrew. It's
                thought that calligraphy's roots come from ancient China, where characters were carved on animal bones
                and
                tortoise shells. Eventually this writing gave way to Chinese ink brushes and writing on paper. Artists
                recognized that the ink brush, paper's water absorption, density of the ink, and other factors all had a
                hand in the final result of the work.
                <br>
                Chinese calligraphy influenced the practice in Japan, Korea, and other areas, where people created their
                own styles--much like we do today.
              </p>
            </div>
            <div class="item_img">
              <div>
                <img width="60%" src="../images/history_infor1.jpg" title="#">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="width: 100%;">
        <div class="white">
          <div class="containerr_infor">
            <div class="item_img">
              <div style="text-align: center;">
                <img width="60%" src="../images/history_infor3.jpg" title="#">
              </div>
            </div>
            <div class="item_text">
              <p class="p">Western Calligraphy</p>
              <p class="p3">
                You're likely most familiar with western calligraphy, which is recognizable because of its use of the
                traditional Latin alphabet. Romans wrote on long rolls of paper using reed or quill pens that were
                dipped in ink, and later Christian churches used western calligraphy to copy Biblical texts.

                Eventually, steel nibs were invented to replace feather quills. They were more convenient to use because
                you didn't have to cut and sharpen a new quill, plus they lasted a lot longer. Steel nibs that come to a
                sharp point at the tip are called “pointed” nibs, and there are also flat or “broad edge” nibs used for
                specific calligraphy styles. (source)

                To reproduce the handwritten work of scribes, an engraver would carve the strokes onto metal plates used
                for printing. The plates were made of copper--which is where the name Copperplate calligraphy comes
                from.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div style="background-color: #f6f6f6; width: 100%;">
        <div class="black">
          <div class="containerr_infor">
            <div class="item_text">
              <p class="p">Modern Calligraphy</p>
              <p class="p3">
                There are so many different styles of calligraphy that it's difficult to define “modern calligraphy.”
                The important thing to remember is that it doesn't necessarily conform to traditional rules; it allows
                you to play around with variations that make it your own.
                <br>
                Unfortunately, children are rarely taught handwriting (cursive) in school, often making penmanship an
                afterthought. But if you have a good handle on shapes and lines, modern calligraphy isn't difficult at
                all.
              </p>
            </div>
            <div class="item_img">
              <div>
                <img width="60%" src="../images/history_infor2.jpg" title="#">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>