<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/course.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="themify-icons-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Course 6</title>
</head>
<body>
  <header>
    <div class="containerr">
      <div class="grid-containerr">
        <div class="header1">
          <div class="nav1">
            <a href="../index.html">Home</a>
            <a href="AboutUs.html">About us</a>
            <a href="Contact.html">Contact</a>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="Category.html">Category<span
                  class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="CategoryLearn.html">Learn</a></li>
                <li><a href="CategoryGallery.html">Gallery</a></li>
              </ul>
            </li>
          </div>
        </div>

        <div class="logo">
          <div class="img_logo">
            <img width="100%" src="../images/logo.png" title="Logo">
          </div>
        </div>

        <div class="header2">
          <div class="nav2">
            <div class="container_search">
              <div class="form_search">
                <form class="css_form" action="">
                  <input class="search" type="search" placeholder="Search...">
                </form>
              </div>
            </div>

            <div class="button_signup">
              <button class="css_up">Sign up</button>
            </div>
            <div class="button_signin">
              <button class="css_in">Sign in</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <Section>
    <div class="grid-container">
      <div class="item1"><img src="../images/Hand-Lettering Foundations Mini Class.jpg"></div>
      <div class="item2">
        <h2>Hand-Lettering Foundations Mini Class</h2>
        <p>$50.00</p>
        <a id="btn" href="Register.html">Register for a course</a>
      </div>
      <div class="item3">
        <h3>Learn Lettering</h3>

        What's the difference between calligraphy and hand-lettering? In most cases, it really boils down to approach
        and
        tools. Calligraphy requires a manipulation of tools that can be intimidating to master. Acquiring the right
        tools
        can also be expensive and time-consuming. While hand-lettering draws from the foundations of calligraphy, the
        tools
        and approach can be infinitely simplified. This class does just that: we'll be diving into the foundations of
        calligraphy through hand-lettering, how to break and expand on stylistic rules all with copy paper and pencil.
        <p>Optional materials used in the course: </p>
        <div>
          <ul>
            <li>General Pencil hand-lettering set OR Watercolor pencils and a regular pencil</li>
            <li>Micron PN</li>
            <li>Gelly Roll (size 10 is my fave, but any size will do)</li>
            <li>Strathmore Toned Tan Paper or Strathmore Mixed Media paper</li>
            <li>Sheet of felt or foam</li>
            <li>Small Watercolor brush</li>
            <li>1 Rhodia pad #16 with 80 pages of 6"x8" gridded practice paper</li>
          </ul>
        </div>
        <p>All materials listed above are optional. Course can be completed with just pencil and the printable handouts
          provided in class.
        <p>
          Class will cover the following:</p>
        <ul>
          <li>Capital letters</li>
          <li>Lowercase print letters</li>
          <li>Lowercase script letters</li>
          <li>How to add width to letters and maintain readability</li>
          <li>How to stylize letters and abide by classical rules</li>
          <li>Final class project to get the creative lettering flowing!</li>
        </ul>
      </div>
      <div class="item8">
        <h3>More from this collection</h3>
      </div>
      <div class="item9">
        <div class="item">
          <a href="Course4.html"><img src="../images/Brush Calligraphy Class.jpg" width="300px"></a>
          <p>
            <a href="Course4.html">Brush Calligraphy Class</a>
          <p>$115.00</p>
        </div>
        <div class="item">
          <a href="Course5.html"><img src="../images/Chalk Lettering with Skyler Chubak.jpg"
              width="300px"></a>
          <p>
          <a href="Course5.html">Chalk Lettering with Skyler Chubak</a>
          <p>$115.00</p>
        </div>
        <div class="item">
          <a href="Course7.html"><img src="../images/Spencerian with Hoang Dao.jpg" width="300px"></a>
          <p>
          <a href="Course7.html">Spencerian with Hoang Dao</a>
          <p>$150.00</p>
        </div>
      </div>
    </div>
  </Section>
  <footer>
    Copyright &copy; 2023 QuickCalligraphy
  </footer>
</body>
</html>