<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/course.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="themify-icons-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Course 1</title>
</head>
<body>
    <header>
        <div class="containerr">
            <div class="grid-containerr">
                <div class="header1">
                    <div class="nav1">
                        <a href="../index.html">Home</a>
                        <a href="AboutUs.html">About us</a>
                        <a href="Contact.html">Contact</a>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="Category.html">Category<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="CategoryLearn.html">Learn</a></li>
                                <li><a href="CategoryGallery.html">Gallery</a></li>
                            </ul>
                        </li>
                    </div>
                </div>
        
                <div class="logo">
                    <div class="img_logo">
                        <img width="100%" src="../images/logo.png" title="Logo">
                    </div>
                </div>
        
                <div class="header2">
                    <div class="nav2">
                        <div class="container_search">
                            <div class="form_search">
                                <form class="css_form" action="">
                                    <input class="search" type="search" placeholder="Search...">
                                </form>
                            </div>
                        </div>
        
                        <div class="button_signup">
                            <button class="css_up">Sign up</button>
                        </div>
                        <div class="button_signin">
                            <button class="css_in">Sign in</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="grid-container">
            <div class="item1"><img src="../images/Modern Calligraphy Class + Kit Bundle.jpg"></div>
            <div class="item2">
                <h2>Modern Calligraphy Class + Kit Bundle</h2>
                <p>$152.00</p>
                <a id="btn" href="Register.html">Register for a course</a>
            </div>
            <div class="item3">
                <h3>Kit Contents Includes:</h3>
                <div class="kit">
                    <ul>
                        <li>1 Rhodia pad #16 with 80 pages of 6"x8" gridded practice paper</li>
                        <li>4 nibs
                            <ul>
                                <li>Hunt 22</li>
                                <li>Hunt 101</li>
                                <li>Gillott 303</li>
                                <li>Gillott 404</li>
                            </ul>
                        </li>
                        <li>1 Straight holder</li>
                        <li>1 Oblique holder</li>
                        <li>1 jar of Walnut ink</li>
                        <li>1 Yoke pen wipe</li>
                        <li>1 Plastic screw-top ink bottle</li>
                        <li>1 Calligraphy.org mechanical pencil</li>
                        <li>Lettering guides</li>
                    </ul>
                </div>
            </div>
            <div class="item4">
                <h3>Greetings Letterers,</h3>
                <p>
                    My name is Melissa Esplin, and I teach this calligraphy course.
                <p>
                    I have been obsessed with the alphabet since I first learned to write. As a newly-literate elementary school
                    kid, I
                    practiced my handwriting constantly. I earned a BFA in Painting and Drawing from Brigham Young University,
                    and I
                    paid for my schooling by working as a graphic designer.
                <p>
                    It wasn't until two years after I had finished my University program that I remembered calligraphy. I had
                    some free
                    time, so I broke out my old calligraphy set and started writing.
                </p>
                <h3>Calligraphy is the perfect cross-over art form</h3>
                <p>
                    Graphic designers, illustrators, photographers and event planners can benefit from using calligraphy in
                    their
                    businesses. Scrapbookers can decorate their layouts with a huge variety of colorful inks.
                <p>
                    My own calligraphy works its way into the logos and web layouts that I design. I digitize my calligraphy for
                    use in
                    photographic overlays. I also hand letter event invitations, save the dates and place cards.
                <p>
                    Event planners spend $4 an envelope for professionally lettered invitations... but you can teach yourself to
                    hand
                    letter your own envelopes for the cost of the ink.
        
                </p>
                <h3>A beginner with zero experience can learn calligraphy</h3>
                <p>
                    I receive emails every week asking how hard it is to learn calligraphy for a beginner.
                <p>
                    My answer is that it takes practice, but the learning curve is gentle thanks to our custom feedback gallery.
                    As you
                    progress through the course, you'll upload snapshots of the assignments that you complete. I will review
                    your work
                    and respond with suggestions for improvement. I can diagnose most calligraphy issues immediately, and if
                    you're
                    advancing quickly, I'll suggest ways to practice and continue your growth.
                </p>
            </div>
            <div class="item5">
                <h3>Learn Calligraphy in 30 Days</h3>
                <p>
                    This course includes 8 lessons with 4 videos and 3 printable guides for practice. You will have a lifetime
                    of
                    access to the course materials and a private feedback gallery for one-on-one feedback from yours truly. We
                    have
                    a recommended 4 week timeline to help keep you motivated and on track. :
                <p>
        
                    To get the most out of the course:
                <p>
        
                    Choose the "With Kit" option on this page to receive Melissa's favorite calligraphy supplies on your
                    doorstep,
                    or purchase your own supplies at Paper & Ink Arts. Follow the Conference & Classes link.
                <p>
                    Dedicate 2-4 hours per week to coursework and practice.
                <p>
                    Upload assignments (both good and bad!) for critique and troubleshooting (upload at any time, but feedback
                    is
                    given twice a week on Mondays and Fridays).
                <p>
                    Go slowly and practice, practice, practice!
                </p>
        
            </div>
            <div class="item6">
                <br>
                <iframe src="https://www.youtube.com/embed/jxdrU9skNE8?si=Xqe9JijqyRu72dHS"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div class="item7">
                <h3>Satisfaction guaranteed</h3>
        
                <p>If the course is not working for you, I would rather give you a full refund than have a dissatisfied student.
                <p>
        
                    My calligraphy teaching method is not merely an eBook and some videos like you may find elsewhere on the
                    web. I
                    spend time on each of my students to understand their technique and to help them correct their mistakes and
                    learn faster. Calligraphy is a very inexpensive art form, but you can waste weeks and months struggling with
                    small mistakes that I can diagnose quickly via the feedback gallery.
                </p>
            </div>
            <div class="item8">
                <h3>More from this collection</h3>
            </div>
            <div class="item9">
                <div class="item">
                    <a href="Course2.html"><img src="../images/Brush Calligraphy Class + Kit Bundle.jpg"
                            width="300px"></a>
                    <p>
                    <a href="Course2.html">Brush Calligraphy Class + Kit Bundle</a>
                    <p>$152.00</p>
                </div>
                <div class="item">
                    <a href="Course3.html"><img src="../images/VIRTUAL Beginner Journaling Workshop.png"
                            width="300px"></a>
                    <p>
                    <a href="Course3.html">VIRTUAL Beginner Journaling Workshop</a>
                    <p>$155.00</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        Copyright &copy; 2023 QuickCalligraphy
    </footer>
</body>
</html>