<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/main_about.css">
  <link rel="stylesheet" href="../styles/link_infor_about.css">
  <link rel="stylesheet" href="themify-icons-font/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div>

    <div class="containerr">
      <div class="grid-containerr">
        <div class="header1">
          <div class="nav1">
            <a href="../index.html">Home</a>
            <a href="AboutUs.html">About us</a>
            <a href="Contact.html">Contact</a>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="Category.html">Category<span
                  class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="CategoryLearn.html">Learn</a></li>
                <li><a href="CategoryGallery.html">Gallery</a></li>
              </ul>
            </li>
          </div>
        </div>

        <div class="logo">
          <div class="img_logo">
            <img width="100%" src="../images/logo.jpg" title="Logo">
          </div>
        </div>

        <div class="header2">
          <div class="nav2">
            <div class="container_search">
              <div class="form_search">
                <form class="css_form" action="">
                  <input class="search" type="search" placeholder="Search...">
                </form>
              </div>
            </div>

            <div class="button_signup">
              <button class="css_up">Sign up</button>
            </div>
            <div class="button_signin">
              <button class="css_in">Sign in</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="containerr_main">
      <div class="title_img">
        <div class="img-title">
          <img width="100%" src="../images/AboutUs_nen.png" title="About us">
        </div>
        <div class="text-title">
          <p class="p1">KNOW MORE ABOUT</p>
          <p class="p2">Calligraphy</p>
        </div>
      </div>
      <div>

      </div>
    </div>

    <div class="containerr_infor">
      <div class="grid_infor">
        <div class="item_img1">
          <img width="100%" src="../images/img1.jpg" title="#">
        </div>
        <div class="item_infor1">
          <div class="infor">
            <a href="AboutUs_What.html">
              <p class="p">What Is Calligraphy?</p>
            </a>
            <p class="p3">So what classifies something as calligraphy? According to the dictionary, the definition is any decorative handwriting or handwritten lettering created with a pen or brush.<br>
            To Do: Look at a variety of examples of calligraphy throughout history and from different countries. How does Arabic calligraphy differ from medieval calligraphy or Japanese calligraphy?</p>
          </div>
        </div>
        <div class="item_img2">
          <img width="100%" src="../images/img2.jpg" title="#">
        </div>
        <div class="item_infor2">
          <div class="infor">
            <a href="AboutUs_History.html">
              <p class="p">History of Calligraphy</p>
            </a>
            <p class="p3">We've heard from many people that calligraphy is a lost art. Maybe it's because we're immersed in the art or maybe it's because it truly is everywhere, but we think calligraphy is just as popular now as it ever was! Maybe even more so, when you consider the different variations of calligraphy that are available.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>