<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/category.css">
    <!--font-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="themify-icons-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Learn</title>
</head>
<body>
    <header>
        <div class="containerr">
            <div class="grid-containerr">
                <div class="header1">
                    <div class="nav1">
                        <a href="../index.html">Home</a>
                        <a href="AboutUs.html">About us</a>
                        <a href="Contact.html">Contact</a>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                href="Category.html">Category<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="CategoryLearn.html">Learn</a></li>
                                <li><a href="CategoryGallery.html">Gallery</a></li>
                            </ul>
                        </li>
                    </div>
                </div>

                <div class="logo">
                    <div class="img_logo">
                        <img width="100%" src="../images/logo.png" title="Logo">
                    </div>
                </div>

                <div class="header2">
                    <div class="nav2">
                        <div class="container_search">
                            <div class="form_search">
                                <form class="css_form" action="">
                                    <input class="search" type="search" placeholder="Search...">
                                </form>
                            </div>
                        </div>

                        <div class="button_signup">
                            <button class="css_up">Sign up</button>
                        </div>
                        <div class="button_signin">
                            <button class="css_in">Sign in</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="top-container">
            <img src="../images/backgroundTitle.jpg" width="100%" class="picTitle">
            <div>
                <p class="p2">Learn Calligraphy</p>
                <p class="p1">Keep learning with unlimited feedback</p>
            </div>
        </div>

        <div>

        </div>
        <div>
            <h2>Self Study</h2>
            <div class="grid-container" align="center">
                <div class="item1">
                    <iframe src="https://www.youtube.com/embed/Jzlx9TMCsVA?si=uWtasein8vd8iTSt"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <p>Easy Ways to Change Up Your Writing Style!</p>
                </div>
                <div class="item2">
                    <iframe src="https://www.youtube.com/embed/sBoVGqiSzr4?si=TcC3nVXnB5qsjO3j"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <p>Calligraphy & Hand Lettering for Beginners! </p>
                </div>
                <div class="item3">
                    <iframe src="https://www.youtube.com/embed/07ePW--MQY4?si=pAeFcIQiBoZ4MUGs"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <p>Learn Calligraphy in 5 Minutes With Just a PENCIL!</p>
                </div>
                <div class="item4">
                    <iframe src="https://www.youtube.com/embed/-21GUVUUtFA?si=3oR03Fc867NyJUZ0"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <p>How to write MODERN CALLIGRAPHY in UpperCase & LowerCase</p>
                </div>
                <div class="item5">
                    <iframe src="https://www.youtube.com/embed/fg1vZ8lFVrk?si=14lVchdVSp7cTVeq"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <p>Calligraphy Tutorial</p>
                </div>
                <div class="item6">
                    <iframe src="https://www.youtube.com/embed/_3H6HfFnFPE?si=p-rcc1TsfeqcnCdS"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <p>How To Connect Calligraphy Letters Into Words</p>
                </div>
            </div>
            <div align="center" id="btn">
                <a href="SelfStudy.html">More</a>
            </div>
        </div>

        <div>
            <h2>Course</h2>
            <div class="offline">
                <caption>
                    <h3 align="center">Offline Class</h3>
                </caption>
                <div class="grid-container" align="center">
                    <div class="item">
                        <a href="Course1.html"><img src="../images/Modern Calligraphy Class + Kit Bundle.jpg"
                                width="300px"></a>
                        <p>
                            <a href="Course1.html">Modern Calligraphy Class + Kit Bundle</a>
                        <p>$152.00</p>
                    </div>
                    <div class="item">
                        <a href="Course2.html"><img src="../images/Brush Calligraphy Class + Kit Bundle.jpg"
                                width="300px"></a>
                        <p>
                            <a href="Course2.html">Brush Calligraphy Class + Kit Bundle</a>
                        <p>$152.00</p>
                    </div>
                    <div class="item">
                        <a href="Course3.html"><img src="../images/VIRTUAL Beginner Journaling Workshop.png"
                                width="300px"></a>
                        <p>
                            <a href="Course3.html">VIRTUAL Beginner Journaling Workshop</a>
                        <p>$170.00</p>
                    </div>
                </div>
            </div>
            <div class="online">
                <h3 align="center">Online Class</h3>
                <div class="grid-container-2" align="center">
                    <div class="item">
                        <a href="Course4.html"><img src="../images/Brush Calligraphy Class.jpg" width="300px"></a>
                        <p>
                            <a href="Course4.html">Brush Calligraphy Class</a>
                        <p>$115.00</p>
                    </div>
                    <div class="item">
                        <a href="Course5.html"><img src="../images/Chalk Lettering with Skyler Chubak.jpg"
                                width="300px"></a>
                        <p>
                            <a href="Course5.html">Chalk Lettering with Skyler Chubak</a>
                        <p>$115.00</p>
                    </div>
                    <div class="item">
                        <a href="Course6.html"><img src="../images/Hand-Lettering Foundations Mini Class.jpg"
                                width="300px"></a>
                        <p>
                            <a href="Course6.html">Hand-Lettering Foundations Mini Class</a>
                        <p>$50.00</p>
                    </div>
                    <div class="item">
                        <a href="Course7.html"><img src="../images/Spencerian with Hoang Dao.jpg" width="300px"></a>
                        <p>
                            <a href="Course7.html">Spencerian with Hoang Dao</a>
                        <p>$150.00</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        Copyright &copy; 2023 QuickCalligraphy
    </footer>
</body>
</html>