<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/course.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="themify-icons-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Course 4</title>
</head>
<body>
    <header>
        <div class="containerr">
            <div class="grid-containerr">
                <div class="header1">
                    <div class="nav1">
                        <a href="../index.html">Home</a>
                        <a href="AboutUs.html">About us</a>
                        <a href="Contact.html">Contact</a>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="Category.html">Category<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="CategoryLearn.html">Learn</a></li>
                                <li><a href="CategoryGallery.html">Gallery</a></li>
                            </ul>
                        </li>
                    </div>
                </div>

                <div class="logo">
                    <div class="img_logo">
                        <img width="100%" src="../images/logo.png" title="Logo">
                    </div>
                </div>

                <div class="header2">
                    <div class="nav2">
                        <div class="container_search">
                            <div class="form_search">
                                <form class="css_form" action="">
                                    <input class="search" type="search" placeholder="Search...">
                                </form>
                            </div>
                        </div>

                        <div class="button_signup">
                            <button class="css_up">Sign up</button>
                        </div>
                        <div class="button_signin">
                            <button class="css_in">Sign in</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <Section>
        <div class="grid-container">
            <div class="item1"><img src="../images/Modern Calligraphy Class + Kit Bundle.jpg"></div>
            <div class="item2">
                <h2>Brush Calligraphy Class</h2>
                <p>$115.00</p>
                <a id="btn" href="Register.html">Register for a course</a>
            </div>
            <div class="item3">
                <h3>Learn calligraphy with brush markers! It's an easy way to get the hang of letterforms.</h3>
                <p>
                    The casual nature of brush calligraphy takes the stress of nibs and ink out of the equation while
                    focusing
                    on
                    alternates, style and composition.
                <p>
                    This class, much like Melissa's Modern Calligraphy workshop, starts from the beginning.
                <p>
                    Learn all about the feel of different markers and where to find them. Learn the letterforms, how to
                    get
                    consistency
                    within your work, how to create your own style, the basics of drafting a layout and explore
                    alternate ways
                    to draw
                    capital letters.
                <p>
                    The class covers brush lettering foundations through images, diagrams, text, video and one-on-one
                    feedback.
                    Upload
                    your work (good or bad) to get help from Melissa Esplin herself. Feedback is given on Tuesdays and
                    Fridays
                    each
                    week. In the coursework you'll find a recommended timeline for approaching the work and getting the
                    most out
                    of your
                    time with the feedback.
                <p>
                    We've moved to unlimited, lifetime subscriptions. There are no more time limits, and you can take
                    the course
                    as
                    quickly or as slowly as you like!
                <p>
                    Join the thousands of students that have learned from Melissa by enrolling today.
                </p>
            </div>
            <div class="item4">
                <h3>Purchase the Kit Separately</h3>
                <p>
                    You'll likely want to add our Brush Calligraphy Kit to your order.
                <p>
                    Take the guesswork out of the experience and get the kit shipped right to your door.

                </p>

                <h3>Buy the Bundle to Save $$$</h3>
                <p>
                    Purchase the <a href="Course2.html">Brush Calligraphy Class + Kit Bundle</a> to get the best
                    price
                    on
                    your kit.
                <p>
                    My answer is that it takes practice, but the learning curve is gentle thanks to our custom feedback
                    gallery.
                    As
                    you
                <p>
                    progress through the course, you'll upload snapshots of the assignments that you complete. I will
                    review
                    your
                    work
                    and respond with suggestions for improvement. I can diagnose most calligraphy issues immediately,
                    and if
                    you're
                    advancing quickly, I'll suggest ways to practice and continue your growth.
                </p>
            </div>
            <div class="item8">
                <h3>More from this collection</h3>
            </div>
            <div class="item9">
                <div class="item">
                    <a href="Course5.html"><img src="../images/Chalk Lettering with Skyler Chubak.jpg" width="300px"></a>
                    <p>
                    <a href="Course5.html">Chalk Lettering with Skyler Chubak</a>
                    <p>$115.00</p>
                </div>
                <div class="item">
                    <a href="Course6.html"><img src="../images/Hand-Lettering Foundations Mini Class.jpg" width="300px"></a>
                    <p>
                    <a href="Course6.html">Hand-Lettering Foundations Mini Class</a>
                    <p>$50.00</p>
                </div>
                <div class="item">
                    <a href="Course7.html"><img src="../images/Spencerian with Hoang Dao.jpg" width="300px"></a>
                    <p>
                    <a href="Course7.html">Spencerian with Hoang Dao</a>
                    <p>$150.00</p>
                </div>
            </div>
        </div>
    </Section>
    <footer>
        Copyright &copy; 2023 QuickCalligraphy
    </footer>
</body>
</html>