<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/course.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="themify-icons-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Course 7</title>
</head>
<body>
  <header>
    <div class="containerr">
      <div class="grid-containerr">
        <div class="header1">
          <div class="nav1">
            <a href="../index.html">Home</a>
            <a href="AboutUs.html">About us</a>
            <a href="Contact.html">Contact</a>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="Category.html">Category<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="CategoryLearn.html">Learn</a></li>
                <li><a href="CategoryGallery.html">Gallery</a></li>
              </ul>
            </li>
          </div>
        </div>

        <div class="logo">
          <div class="img_logo">
            <img width="100%" src="../images/logo.png" title="Logo">
          </div>
        </div>

        <div class="header2">
          <div class="nav2">
            <div class="container_search">
              <div class="form_search">
                <form class="css_form" action="">
                  <input class="search" type="search" placeholder="Search...">
                </form>
              </div>
            </div>

            <div class="button_signup">
              <button class="css_up">Sign up</button>
            </div>
            <div class="button_signin">
              <button class="css_in">Sign in</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section>
    <div class="grid-container">
      <div class="item1"><img src="../images/Spencerian with Hoang Dao.jpg"></div>
      <div class="item2">
        <h2>Spencerian with Hoang Dao</h2>
        <p>$150.00</p>
        <a id="btn" href="Register.html">Register for a course</a>
      </div>
      <div class="item3">
        <h3>Learn Spencerian</h3>
        <p>
          Hoang has deep experience with Spencerian and will get you started on the right foot... or help you level up
          your existing Spencerian hand.
        <p>
          You'll learn with a large, downloadable eBook and a series of 17 videos. It's a lot of content, so warm up
          your hand and settle in!
        </p>
        <img src="../images/Spencerian Materials 1.jpg" width="100%" style="border-radius: 10px;">
      </div>
      <div class="item4">
        <h3>What materials do I need?</h3>

        <p>You can complete the course with the same supplies that you would use for our Modern Calligraphy course. See
          our Calligraphy Supplies Guide or purchase our Modern Calligraphy Kit.</p>

        <h3>How long is the class?</h3>

        <p>The class is designed to take about 45 days. You get lifetime access to the content and instructor feedback.
        </p>

        <h3>How often will I get feedback?</h3>

        <p>Hoang logs in twice weekly on Mondays and Thursdays. Days are subject to change due to holidays, personal
          needs or travel.</p>
      </div>
      <div class="item8">
        <h3>More from this collection</h3>
      </div>
      <div class="item9">
        <div class="item">
          <a href="Course4.html"><img src="../images/Brush Calligraphy Class.jpg" width="300px"></a>
          <p>
            <a href="Course4.html">Brush Calligraphy Class</a>
          <p>$115.00</p>
        </div>
        <div class="item">
          <a href="Course5.html"><img src="../images/Chalk Lettering with Skyler Chubak.jpg"
              width="300px"></a>
          <p>
          <a href="Course5.html">Chalk Lettering with Skyler Chubak</a>
          <p>$115.00</p>
        </div>
        <div class="item">
          <a href="Course6.html"><img src="../images/Hand-Lettering Foundations Mini Class.jpg"
              width="300px"></a>
          <p>
          <a href="Course6.html">Hand-Lettering Foundations Mini Class</a>
          <p>$50.00</p>
        </div>
      </div>
    </div>
  </section>
  <footer>
    Copyright &copy; 2023 QuickCalligraphy
  </footer>
</body>
</html>