<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/course.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="themify-icons-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Course 3</title>
</head>
<body>
  <header>
    <div class="containerr">
      <div class="grid-containerr">
        <div class="header1">
          <div class="nav1">
            <a href="../index.html">Home</a>
            <a href="AboutUs.html">About us</a>
            <a href="Contact.html">Contact</a>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="Category.html">Category<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="CategoryLearn.html">Learn</a></li>
                <li><a href="CategoryGallery.html">Gallery</a></li>
              </ul>
            </li>
          </div>
        </div>

        <div class="logo">
          <div class="img_logo">
            <img width="100%" src="../images/logo.png" title="Logo">
          </div>
        </div>

        <div class="header2">
          <div class="nav2">
            <div class="container_search">
              <div class="form_search">
                <form class="css_form" action="">
                  <input class="search" type="search" placeholder="Search...">
                </form>
              </div>
            </div>

            <div class="button_signup">
              <button class="css_up">Sign up</button>
            </div>
            <div class="button_signin">
              <button class="css_in">Sign in</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section>
    <div class="grid-container">
      <div class="item1"><img src="../images/VIRTUAL Beginner Journaling Workshop.png"></div>
      <div class="item2">
        <h2>VIRTUAL Beginner Journaling Workshop</h2>
        <p>$170.00</p>
        <a id="btn" href="Register.html">Register for the Workshop</a>
      </div>
      <div class="item3">
        <h3>Kit includes:</h3>
        <div class="kit">
          <ul>
            <li>Handouts</li>
            <li>Pencil</li>
            <li>Technical pen</li>
            <li>Technical marker</li>
            <li>Dual brush pen</li>
            <li>White gelly roll pen</li>
            <li>Mini kraft notebook</li>
            <li>Mini ruler</li>
            <li>Art print</li>
            <li>Canvas</li>
          </ul>
        </div>
      </div>
      <div class="item4">
        <p>
          Join Melissa Esplin starting on January 17th at 10am MDT for a 4-part virtual workshop on playful visual
          journaling! Build confidence in your penmanship, learn how to layout pages and start your own quotes
          journal. Learn theory of penmanship and composition while creating a finished product. All skill levels and
          ages are welcome!*
        </p>
        <h4>Sessions:</h4>
        <ul>
          <li>Tuesday October 17, 2023, 10am-12pm (Penmanship)</li>
          <li>Tuesday October 24, 2023, 10am-12pm (Doodling)</li>
          <li>Tuesday October 31, 2023, 10am-12pm (Composition)</li>
          <li>Tuesday November 7, 2023, 10am-12pm (Layout & Fixing mistakes)</li>
        </ul>

        <P>
          A recording of the each session will be made available for attendees to replay at any time.
        <p>
          Printed handouts and materials will be prepared according to the purchase of the kit + class option. All
          kits will be fulfilled promptly.
        </P>
      </div>
      <div class="item5">
        <h3>Only 30 kits are available!</h3>
        <p>
          This is the perfect gift! Add a hand-lettered dedication to make it extra special.

          No returns/refunds on virtual workshops. Can't make it after all? Contact melissa@calligraphy.org.

          *For minors participating in zoom sessions, we ask that a parent or guardian be present.
        </p>

      </div>
      <div class="item6">
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tKn1HvSLRIo?si=j16S4bKm_dPSijea"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div class="item7">
        <h3>Satisfaction guaranteed</h3>
        <p>If the course is not working for you, I would rather give you a full refund than have a dissatisfied student.
        <p>
          My calligraphy teaching method is not merely an eBook and some videos like you may find elsewhere on the
          web. I
          spend time on each of my students to understand their technique and to help them correct their mistakes and
          learn faster. Calligraphy is a very inexpensive art form, but you can waste weeks and months struggling with
          small mistakes that I can diagnose quickly via the feedback gallery.
        </p>
      </div>
      <div class="item8">
        <h3>More from this collection</h3>
      </div>
      <div class="item9">
        <div class="item">
          <a href="Course1.html"><img src="../images/Modern Calligraphy Class + Kit Bundle.jpg"
              width="300px"></a>
          <p>
          <a href="Course1.html">Modern Calligraphy Class + Kit Bundle</a>
          <p>$155.00</p>
        </div>
        <div class="item">
          <a href="Course2.html"><img src="../images/Brush Calligraphy Class + Kit Bundle.jpg" width="300px"></a>
          <p>
          <a href="Course2.html">Brush Calligraphy Class + Kit Bundle</a>
          <p>$152.00</p>
        </div>
      </div>
    </div>
  </section>
  <footer>
    Copyright &copy; 2023 QuickCalligraphy
  </footer>
</body>
</html>