<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/course.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="themify-icons-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Course 5</title>
</head>
<body>
  <header>
    <div class="containerr">
      <div class="grid-containerr">
        <div class="header1">
          <div class="nav1">
            <a href="../index.html">Home</a>
            <a href="AboutUs.html">About us</a>
            <a href="Contact.html">Contact</a>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="Category.html">Category<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="CategoryLearn.html">Learn</a></li>
                <li><a href="CategoryGallery.html">Gallery</a></li>
              </ul>
            </li>
          </div>
        </div>

        <div class="logo">
          <div class="img_logo">
            <img width="100%" src="../images/logo.png" title="Logo">
          </div>
        </div>

        <div class="header2">
          <div class="nav2">
            <div class="container_search">
              <div class="form_search">
                <form class="css_form" action="">
                  <input class="search" type="search" placeholder="Search...">
                </form>
              </div>
            </div>

            <div class="button_signup">
              <button class="css_up">Sign up</button>
            </div>
            <div class="button_signin">
              <button class="css_in">Sign in</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section>
    <div class="grid-container">
      <div class="item1"><img src="../images/Modern Calligraphy Class + Kit Bundle.jpg"></div>
      <div class="item2">
        <h2>Chalk Lettering with Skyler Chubak</h2>
        <p>$115.00</p>
        <a id="btn" href="Register.html">Register for a course</a>
      </div>
      <div class="item3">
        <h3>Learn Chalk Lettering</h3>
        <p>
          This class will introduce you to the art of chalk lettering. Chalk is great because it's inexpensive and
          forgiving. It's easy to get started and you can keep improving forever.
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Ek1LW2h7t90?si=-qKKX4tSFbL88XwJ"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
        <p>
          Skyler will share his expertise and help you feel comfortable with beginning this new skill. Learn about
          materials and preparation, lettering styles and techniques, and great layouts. You'll also get some solid
          inspiration leads with Skyler's favorite lettering books and people to follow.
        <p>
          You'll learn through images, gifs, text, videos, assignments, and one-on-one feedback from Skyler himself.
          He'll share some of his own work and you'll be amazed and inspired. Don't be shy; sign up, practice, submit
          your work, and find out how much you can do with a piece of chalk and a board.
        </p>
      </div>
      <div class="item4">
        <h2>FAQs</h2>
        <h3>What materials do I need?</h3>
        <p>
          Chalk, chalkboard, pencil and paper. No special requirements for this class, so supplies can be easily
          sourced
          anywhere from the grocery store to an art and craft supply store.
        <p>
          See our Calligraphy Supplies Guide for all of the details.
        </p>
        <h3>How long is the class?</h3>
        <p>
          The class is designed to take about 30 days. You get lifetime access to the content and instructor feedback,
          so
          you can pace the class however you like.
        </p>
        <h3>How often will I get feedback?</h3>
        <p>
          Skyler logs in twice weekly on Mondays and Thursdays. Days are subject to change due to holidays, personal
          needs
          or travel.
        </p>
      </div>
      <div class="item8">
        <h3>More from this collection</h3>
      </div>
      <div class="item9">
        <div class="item">
          <a href="Course4.html"><img src="../images/Brush Calligraphy Class.jpg" width="300px"></a>
          <p>
            <a href="Course4.html">Brush Calligraphy Class</a>
          <p>$115.00</p>
        </div>
        <div class="item">
          <a href="Course6.html"><img src="../images/Hand-Lettering Foundations Mini Class.jpg"
              width="300px"></a>
          <p>
            <a href="Course6.html">Hand-Lettering Foundations Mini Class</a>
          <p>$50.00</p>
        </div>
        <div class="item">
          <a href="Course7.html"><img src="../images/Spencerian with Hoang Dao.jpg" width="300px"></a>
          <p>
            <a href="Course7.html">Spencerian with Hoang Dao</a>
          <p>$150.00</p>
        </div>
      </div>
    </div>
  </section>
  <footer>
    Copyright &copy; 2023 QuickCalligraphy
  </footer>
</body>
</html>