<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/course.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="themify-icons-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Course 2</title>
</head>
<body>
    <header>
        <div class="containerr">
            <div class="grid-containerr">
              <div class="header1">
                <div class="nav1">
                  <a href="../index.html">Home</a>
                  <a href="AboutUs.html">About us</a>
                  <a href="Contact.html">Contact</a>
                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="Category.html">Category<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="CategoryLearn.html">Learn</a></li>
                      <li><a href="CategoryGallery.html">Gallery</a></li>
                    </ul>
                  </li>
                </div>
              </div>
        
              <div class="logo">
                <div class="img_logo">
                  <img width="100%" src="../images/logo.png" title="Logo">
                </div>
              </div>
        
              <div class="header2">
                <div class="nav2">
                  <div class="container_search">
                    <div class="form_search">
                        <form class="css_form" action="">
                          <input class="search" type="search" placeholder="Search...">
                        </form>
                    </div>
                  </div>
        
                  <div class="button_signup">
                    <button class="css_up">Sign up</button>
                  </div>
                  <div class="button_signin">
                    <button class="css_in">Sign in</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </header>
    <section>
      <div class="grid-container">
        <div class="item1"><img src="../images/Brush Calligraphy Class + Kit Bundle.jpg"></div>
        <div class="item2">
          <h2>Brush Calligraphy Class + Kit Bundle</h2>
          <p>$152.00</p>
          <a id="btn" href="Register.html">Register for a course</a>
        </div>
        <div class="item3">
          <h3>Included Kit:</h3>
          <p>We created this kit to pair with Melissa Esplin's Brush Calligraphy Course.</p>
          <div>
            <ul>
              <li>1 Rhodia pad #16 with 80 pages of 6"x8" gridded practice paper</li>
              <li>6 assorted Koi brush markers</li>
              <li>1 3-Pack of Pigma Professional brush markers</li>
              <li>1 Sakura Gelly Roll pen</li>
              <li>1 Calligraphy.org mechanical pencil</li>
              <li>Lettering guides</li>
            </ul>
          </div>
        </div>
        <div class="item5">
          <h3>Learn Calligraphy in 30 Days</h3>
          <p>
            This course includes 8 lessons for practice. You will have a lifetime of
            access to the course materials and a private feedback gallery for one-on-one feedback from yours truly. We
            have
            a recommended 4 week timeline to help keep you motivated and on track. :
          <p>
    
            To get the most out of the course:
          <p>
    
            Choose the "With Kit" option on this page to receive Melissa's favorite calligraphy supplies on your
            doorstep,
            or purchase your own supplies at Paper & Ink Arts. Follow the Conference & Classes link.
          <p>
            Dedicate 2-4 hours per week to coursework and practice.
          <p>
            Upload assignments (both good and bad!) for critique and troubleshooting (upload at any time, but feedback
            is
            given twice a week on Mondays and Fridays).
          <p>
            Go slowly and practice, practice, practice!
          </p>
    
        </div>
        <div class="item6">
          <br>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/jxdrU9skNE8?si=Xqe9JijqyRu72dHS"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
        <div class="item7">
          <h3>Satisfaction guaranteed</h3>
    
          <p>If the course is not working for you, I would rather give you a full refund than have a dissatisfied student.
          <p>
    
            My calligraphy teaching method is not merely an eBook and some videos like you may find elsewhere on the
            web. I
            spend time on each of my students to understand their technique and to help them correct their mistakes and
            learn faster. Calligraphy is a very inexpensive art form, but you can waste weeks and months struggling with
            small mistakes that I can diagnose quickly via the feedback gallery.
          </p>
        </div>
        <div class="item8">
          <h3>More from this collection</h3>
        </div>
        <div class="item9">
          <div class="item">
            <a href="Course1.html"><img src="../images/Modern Calligraphy Class + Kit Bundle.jpg" width="300px"></a>
            <p>
            <a href="Course1.html">Modern Calligraphy Class + Kit Bundle</a>
            <p>$152.00</p>
          </div>
          <div class="item">
            <a href="Course3.html"><img src="../images/VIRTUAL Beginner Journaling Workshop.png" width="300px"></a>
            <p>
            <a href="Course3.html">VIRTUAL Beginner Journaling Workshop</a>
            <p>$155.00</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      Copyright &copy; 2023 QuickCalligraphy
    </footer>
</body>
</html>