<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/category.css">
    <!--font-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="themify-icons-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../JS/class.js"></script>
    <title>Self Study</title>
</head>
<body>
    <header>
        <div class="containerr">
            <div class="grid-containerr">
              <div class="header1">
                <div class="nav1">
                  <a href="../index.html">Home</a>
                  <a href="AboutUs.html">About us</a>
                  <a href="Contact.html">Contact</a>
                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="Category.html">Category<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="CategoryLearn.html">Learn</a></li>
                      <li><a href="CategoryGallery.html">Gallery</a></li>
                    </ul>
                  </li>
                </div>
              </div>
        
              <div class="logo">
                <div class="img_logo">
                  <img width="100%" src="../images/logo.png" title="Logo">
                </div>
              </div>
        
              <div class="header2">
                <div class="nav2">
                  <div class="container_search">
                    <div class="form_search">
                        <form class="css_form" action="">
                          <input class="search" type="search" placeholder="Search...">
                        </form>
                    </div>
                  </div>
        
                  <div class="button_signup">
                    <button class="css_up">Sign up</button>
                  </div>
                  <div class="button_signin">
                    <button class="css_in">Sign in</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </header>

    <section>
      <div class="top-container">
        <img src="../images/backgroundTitle.jpg" width="100%" class="picTitle">
        <div>
          <p class="p2" align="center">Self Study</p>
        </div>
      </div>
      <div class="gridBox">
        <div>
          <h2 align="center">Join over 8,537 students who have learned calligraphy with us since 2009</h2>
          <p>
            You will learn to letter beautiful envelopes, invitations, save-the-dates, love letters and scrapbook layouts.
            Our students have used calligraphy to supplement their design, photography and event planning businesses.
          <p>
            There is no easy way to learn calligraphy. It requires consistent practice like every other valuable skill.
            However, calligraphy is not nearly as difficult as it first appears. We've taught over 8,537 students how to
            letter since 2009, and our online teaching methodology has proven to be an efficient way for students to start
            lettering immediately.
          <p>
            Our platform's secret sauce is our unique feedback system. As you complete your assignments, you will upload
            snapshots of your work to your personal feedback gallery. You can use the gallery to ask your instructor any
            questions that you have. Your instructor will review your work, answer your questions and give you suggestions
            for improvement. This form of one-on-one coaching will accelerate your learning far faster than reading and
            practice guides alone.
          </p>
        </div>
        <br>
        <div class="grid-container-2" align="center">
          <div class="item1">
            <iframe src="https://www.youtube.com/embed/JW1pD3NzaGM?si=wT5_LlY1GDYdTgDO" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
            <p>5 Things I Wish I'd Known Before Learning Calligraphy</p>
          </div>
          <div class="item2">
            <iframe src="https://www.youtube.com/embed/sBoVGqiSzr4?si=TcC3nVXnB5qsjO3j" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
            <p>Calligraphy & Hand Lettering for Beginners! </p>
          </div>
          <div class="item3">
            <iframe src="https://www.youtube.com/embed/07ePW--MQY4?si=pAeFcIQiBoZ4MUGs" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
            <p>Learn Calligraphy in 5 Minutes With Just a PENCIL!</p>
          </div>
          <div class="item4">
            <iframe src="https://www.youtube.com/embed/-21GUVUUtFA?si=3oR03Fc867NyJUZ0" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
            <p>How to write MODERN CALLIGRAPHY in UpperCase & LowerCase</p>
          </div>
          <div class="item5">
            <iframe src="https://www.youtube.com/embed/fg1vZ8lFVrk?si=14lVchdVSp7cTVeq" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
            <p>Calligraphy Tutorial</p>
          </div>
          <div class="item6">
            <iframe src="https://www.youtube.com/embed/_3H6HfFnFPE?si=p-rcc1TsfeqcnCdS" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
            <p>How To Connect Calligraphy Letters Into Words</p>
          </div>
          <div class="item7">
            <iframe src="https://www.youtube.com/embed/Yb3xakIhTeI?si=KfBEozplCcyBZ1BA" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
            <p>Lower Case Full Alphabet</p>
          </div>
          <div class="item8">
            <iframe src="https://www.youtube.com/embed/3phzKsXpko8?si=zvCMve8STvWNryvI" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; lipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
            <p>How To Start Writing Calligraphy</p>
          </div>
          <div class="item9">
            <iframe src="https://www.youtube.com/embed/OXUdRL7RsjM?si=IJf8ZzRSkx4BShrk" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
            <p>Learn Bouncy Brush Lettering</p>
          </div>
          <div class="item10">
            <iframe src="https://www.youtube.com/embed/Nue_9RefP_k?si=mT3U-qv68XNvx86B" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
            <p>Indian Calligrapher WrittingG</p>
          </div>
          <div class="item11">
            <iframe src="https://www.youtube.com/embed/qIedVud5Ei4?si=QfUbjz8hF0sgcC3R" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
            <p>EASY Gothic Calligraphy Alphabet Tutorial - Learn Blackletter</p>
          </div>
          <div class="item12">
            <iframe src="https://www.youtube.com/embed/Jzlx9TMCsVA?si=uWtasein8vd8iTSt" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
            <p>Easy Ways to Change Up Your Writing Style!</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
        Copyright &copy; 2023 QuickCalligraphy
    </footer>
</body>
</html>